*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.repositories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.2rem;
  row-gap: 1.2rem;
}

.text--max-1-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* The loading Class */
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e2e2e2;
}

/* The moving element */
.skeleton::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent)
  );

  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);

  /* Adding animation */
  animation: skeleton 1.5s infinite;
}

/* skeleton Animation */
@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}

/* Responsive */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .repositories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .repositories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .repositories {
    grid-template-columns: repeat(4, 1fr);
  }
}
